@model ViewTest.Models.Person
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div>
        Navn @Model.Navn
    </div>
    @Html.DisplayNameFor(m => m.Navn) = @Html.DisplayFor(m => m.Navn)
    <hr />
    @Html.DisplayForModel()
    <hr />
    @Html.LabelFor(m => m.Navn): @Html.EditorFor(m => m.Navn)
    <hr />
    @Html.LabelFor(m => m.ErILive): @Html.EditorFor(m => m.ErILive)
    <hr />
    @Html.LabelFor(m => m.Alder): @Html.EditorFor(m => m.Alder)
    <hr />
    @Html.EditorForModel();
</body>
</html>
